.swiper-container {
  width: 100%;
  height: 312px;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  width: 16px;
  height: 16px;
}

.swiper-container-horizontal>.swiper-pagination .swiper-pagination-bullet {
  margin: 0 14px;
}
